/* SIDEBAR */

.sidebar {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  padding-top: calc(var(--sidebar-item-margin) * 3);
  padding-left: 20px;
  font-size: 1.1rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding-top: calc(var(--sidebar-item-margin) / 2);
  padding-bottom: calc(var(--sidebar-item-margin) / 2);
  padding-left: calc(var(--sidebar-item-margin) * 2);
}

.sidebar img {
  margin-right: var(--sidebar-item-margin);
}

/* Custom marker */

.project-details summary {
  cursor: pointer;
  list-style-type: none;
  font-weight: bold;
  margin-bottom: var(--sidebar-item-margin);
}

.project-details summary::marker {
  display: none;
}

.project-details summary::before {
  display: inline-block;
  content: url("../images/right-arrow.svg");
  margin-right: var(--sidebar-item-margin);
  transition: rotate 0.1s ease-in-out;
}

.project-details[open] summary::before {
  rotate: 90deg;
}

/* Project container */

.project-details a {
  text-decoration: none;
  color: inherit;
}

.project-details a::before {
  display: inline-block;
  content: "";
  width: 0.6em;
  aspect-ratio: 1;
  background-color: var(--text-color);
  border-radius: 50%;
  margin: 0 var(--sidebar-item-margin);
}

/* Add to-do icon */

.add-todo-container {
  margin: auto var(--sidebar-item-margin) var(--sidebar-item-margin) auto;
}

.add-todo-button {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 4em;
  color: var(--text-color);
  aspect-ratio: 1;
}

.add-todo-container p {
  opacity: 0;
  position: relative;
  text-align: center;
  background-color: rgb(51, 51, 51);
  width: fit-content;
  margin: 0 auto 5px auto;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--text-color);
  transition: opacity 0.2s ease-in-out;
}

/* Hover */

.sidebar a:hover,
.add-todo-button:hover {
  background-color: var(--item-hover);
}

.sidebar a:hover {
  border-radius: 5px;
}

.add-todo-container:hover .add-todo-button {
  border-radius: 50%;
}

.add-todo-container:hover p {
  opacity: 1;
}
